@import '../style/variable.scss';

.menu {
  @include sort(inherit, space-between);
  position: fixed;
  z-index: 2;
  width: 100%;
  border: 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 11px 0px;

  .leftWrapper {
    @include sort(inherit, center, center);
    padding: 15px 25px;
  }

  .rightWrapper {
    display: flex;
    cursor: pointer;

    li {
      width: 130px;
      padding: 5px 0;
      text-align: center;
      line-height: 60px;
      border-left: 1px solid #cecece;

      span {
        display: block;
        color: #a5a5a5;
      }
    }

    .eatDealMenu {
      position: relative;
      img {
        @include contentPosition(10px, 25%);
        width: 15px;
      }
    }

    // 망고스토리라는 메뉴가 추가 된다면 해당 부분 활성화
    // .storyMenu {
    //   position: relative;
    //   .userInfoAlarm {
    //     @include size(18px, 18px);
    //     @include contentPosition(5px, 14%);
    //     @include border(1px solid white, 50%);
    //     text-align: center;
    //     line-height: 20px;
    //     background-color: #ff792a;
    //     color: #ffffff;
    //     font-size: 14px;
    //     font-weight: 600;
    //   }
    // }

    .myPage {
      @include sort(inherit, center, center);
      padding: 15px 30px;
      border-left: 1px solid #cecece;
      .fa-user {
        opacity: 0.3;
      }
    }
  }
}
