@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 72px;
  right: 10px;
  z-index: 1100;
  width: 320px;
  border-radius: 0 0 3px 3px;
  background-color: #ffffff;
}
.triangle {
  position: absolute;
  top: 56px;
  right: 30px;
  width: 0;
  border-width: 0 16px 16px;
  border-color: #ff792a transparent;
  border-style: solid;
}

.userProfileName {
  padding-bottom: 12px;
}

.signPage {
  @include flex-center;
  height: 100vh;
  .userimg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .signContainer {
    padding: 56px 40px;
    border: 5px solid #ff792a;
    text-align: center;
    background-color: white;
    h1 {
      margin: 24px auto 41px;
      font-weight: 400;
      font-size: 37px;
    }
  }
}
