.filterButton {
  display: flex;

  .foodButton {
    margin-bottom: 10px;

    .foodButtonList {
      height: 40px;
      border: 1px solid #ff7002;
      border-radius: 50px;
      background-color: white;
      color: #ff7002;
      font-size: 20px;
      margin: 0 20px 0 20px;
      padding: 0 20px;

      &:hover {
        background-color: #ff700244;
      }
    }
  }

  .locationButton {
    margin-bottom: 20px;

    .locationButtonList {
      height: 40px;
      border: 1px solid #ff7002;
      border-radius: 50px;
      background-color: white;
      color: #ff7002;
      font-size: 20px;
      margin: 0 20px 0 20px;
      padding: 0 20px;

      &:hover {
        background-color: #ff700244;
      }
    }
  }
}
