.restaurantInfo {
  margin-top: 12px;

  .restaurantAddres {
    border: 0.5px solid rgba(79, 79, 79, 0.35);
    padding: 2px;
    margin-right: 4px;
    color: rgba(79, 79, 79, 0.7);
  }

  .restaurantInfoAddressText {
    padding-bottom: 12px;
  }
  th {
    width: 110px;
    font-size: 0.9rem;
    color: rgba(79, 79, 79, 0.6);
    line-height: 1.7;
    text-align: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
}
