@import '../style/variable.scss';

.main {
  position: relative;

  .modalHidden {
    visibility: hidden;
    height: 0;
  }

  .searchInputFocus {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: black;
    opacity: 0.8;
  }
}
