.ReviewPostingButtonWrap {
  float: right;
  padding-top: 30px;
}
.ReviewPostingButton {
  min-width: 140px;
  min-height: 50px;
  margin-right: 16px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #7f7f7f;
  border-radius: 50px;
}
