@import '../style/variable.scss';

.eatDealContainer {
  padding: 40px 7%;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);

  .containerTitle {
    color: #f97100;
    font-size: 25px;
  }

  .shopList {
    @include sort(inherit, space-between);
    margin-top: 30px;
    padding: 20px;
    flex-wrap: wrap;

    .shopInfo {
      @include sort(column, inherit);
      position: relative;
      width: 17em;
      padding-bottom: 20px;
      margin-bottom: 20px;

      .iconBorder {
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 5px;
        border: 1px solid #35cbb2;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        display: flex;
        text-align: center;
        justify-content: center;

        .eatDealIcon {
          width: 35px;
          height: 35x;
          line-height: 35px;
          border: 2px dashed white;
          border-radius: 17px;
          background-color: #35cbb2;
          color: white;
        }
      }

      .shopMenu {
        width: 100%;
        margin-bottom: 15px;
      }

      .shopTitle {
        margin-bottom: 10px;
        font-size: 20px;
      }

      .shopDetailInfo {
        color: rgba(100, 100, 100, 0.5);
        font-size: 15px;
      }
    }
  }
}
