@import '../style/variable.scss';

.shopListContainer {
  position: relative;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding: 40px 7%;

  .containerTitle {
    color: #f97100;
    font-size: 25px;
  }

  .rowContainer {
    width: 100%;
    overflow-x: hidden;

    .filterListLeft {
      @include sort(row, space-between);
      transition-duration: 0.5s;
      width: 200%;
      flex-wrap: wrap;
      overflow: hidden;
      margin-top: 30px;
      padding: 10px 20px;
    }

    .filterListRight {
      @include sort(row, space-between);
      width: 200%;
      flex-wrap: wrap;
      overflow: hidden;
      margin-top: 30px;
      padding: 10px 20px;
      transition-duration: 0.5s;
      transform: translateX(-50%);
    }
  }
}
