@import '../style/variable.scss';

.shopListContainer {
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding: 40px 7%;
  .containerTitle {
    color: #f97100;
    font-size: 25px;
  }
  .filterList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 10px 20px;
    .listInfo {
      @include size(23em, 12em);
      @include sort(flex, column, space-between, inherit);
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      cursor: pointer;
      .listBackground {
        z-index: -1;
        object-fit: cover;
      }
      .listTilte {
        @include contentPosition(absolute, 40%, inherit, inherit, 13%);
        @include imageTopText(30px);
      }
      .listSubTitle {
        @include contentPosition(absolute, 60%, inherit, inherit, 25%);
        @include imageTopText(17px);
      }
    }
  }
}
