.review {
  display: flex;
  position: relative;
  padding: 50px 0;
  border-bottom: 1px solid rgba(79, 79, 79, 0.3);

  .reviewUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 35px 0 8px;
    text-align: center;

    .reviewUserPictureWrap {
      width: 70px;
      height: 70px;

      .reviewUserPicture {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .reviewUserNickName {
      padding-top: 10px;
    }
  }

  .reviewContent {
    width: 100%;

    .reviewimg {
      width: 120px;
      height: 120px;
      padding: 5px;
      margin-top: 15px;
    }
    .reviewTextWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .reviewDate {
        color: rgba(79, 79, 79, 0.6);
        padding-bottom: 3px;
      }

      .reviewText {
        margin-right: 30px;
      }
    }
  }
}
.reviewItemOptionButton {
  position: absolute;
  bottom: 20px;
  right: 0;
}
.hidden {
  display: none;
}
.review:hover {
  background-color: rgba(79, 79, 79, 0.1);
}
