.shopDetail {
  display: flex;
  flex-direction: column;
  align-items: center;

  .foodimg {
    display: flex;
    padding-bottom: 60px;

    img {
      width: 400px;
      height: 340px;
      padding: 5px;
    }
  }

  .inner {
    height: 100vh;
    width: 100vh;
    padding-top: 30px;

    .restaurantHeader {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #e9e9e9;

      .restaurantTitle {
        display: flex;
        font-size: 40px;
        text-align: center;
      }

      .grade {
        padding-left: 15px;
        color: rgba(79, 79, 79, 0.15);
      }

      .restaurantTitleButton {
        margin: auto 0;
        display: flex;

        .reveiwAndLikeIcon {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgba(79, 79, 79, 0.4);
          font-size: 15px;
        }

        i {
          padding-bottom: 14px;
          font-size: 40px;
        }

        .write {
          font-weight: lighter;
        }

        .write:hover,
        .wanted {
          color: #ff7100;
        }
      }
    }

    .more {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .moreButton {
      color: white;
      font-weight: normal;
      padding: 10px 25px;
      cursor: pointer;
      background: rgb(254, 121, 42);
      border-radius: 30px;
    }

    .hidden {
      display: none;
    }

    .restaurantReviewList {
      border-top: 1px solid #e9e9e9;
      padding-top: 20px;
      margin-top: 30px;

      .reviewAllCount {
        color: rgba(79, 79, 79, 0.6);
        padding-left: 10px;
      }
    }
  }
}
