@import '../style/variable.scss';

.listInfo {
  @include size(26em, 12em);
  @include sort(column, center, center);
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;

  .listTilte {
    @include imageTopText(30px);
    margin: 2.5em auto 0 auto;
  }

  .listSubTitle {
    @include imageTopText(18px);
    margin: 10px auto auto auto;
  }
}
