.menu {
  height: 61px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 11px 0px;

  .leftWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      margin: 0 25px;
    }

    .fa-search {
      height: 25px;
      width: 24px;
      margin-right: 13px;
      position: absolute;
      top: 17px;
      left: 180px;
      font-size: 25px;
      color: #cecece;
    }

    input {
      height: 28px;
      width: 390px;
      padding-left: 60px;
      border: none;
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }
  }

  .rightWrapper {
    height: 60px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      height: 100%;
      text-align: center;
      line-height: 60px;
      border-left: 1px solid #cecece;

      a {
        display: block;
        color: #888888;

        span {
          display: block;
          width: 130px;
        }
      }
    }

    .firstChild {
      img {
        width: 15px;
        position: fixed;
        top: 10px;
        right: 380px;
      }
    }

    a {
      .fa-user {
        height: 100%;
        width: 85px;
        line-height: 60px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: #888888;
        border-left: 1px solid #cecece;
      }
    }

    .userInfoAlarm {
      height: 18px;
      width: 18px;
      position: fixed;
      text-align: center;
      top: 5px;
      right: 25px;
      z-index: 1;
      line-height: 20px;
      border: 1px solid white;
      border-radius: 50%;
      background-color: #ff792a;
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
