.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 61px;
  background-color: #ffffff;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 11px 0px;
  z-index: 1;

  .leftWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      margin: 0 25px;
    }

    .fa-search {
      position: absolute;
      top: 17px;
      left: 180px;
      margin-right: 13px;
      width: 24px;
      height: 25px;
      font-size: 25px;
      color: #cecece;
    }

    input {
      padding-left: 60px;
      width: 390px;
      height: 28px;
      border: none;
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }
  }
  .rightWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 600px;
    height: 60px;

    li {
      display: flex;
      height: 100%;
      line-height: 60px;
      border-left: 1px solid #cecece;

      button {
        display: block;
        color: #888888;

        span {
          display: block;
          width: 130px;
        }
      }
    }

    .firstChild {
      position: relative;
      img {
        position: absolute;
        top: -8px;
        right: 23%;
        width: 15px;
      }
    }

    button {
      .fa-user {
        height: 100%;
        width: 85px;
        line-height: 60px;
        border-left: 1px solid #cecece;
        color: #888888;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
    }

    .userInfoAlarm {
      position: fixed;
      right: 25px;
      top: 5px;
      height: 18px;
      width: 18px;
      line-height: 20px;
      border: 1px solid white;
      color: #ffffff;
      border-radius: 50%;
      background-color: #ff792a;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      z-index: 1;
    }
  }
}
